body {
    background-color: #E9F1F6;
    border-radius: 10px;
    padding: 20px;
}

li {
    list-style: none;
    margin-bottom: 20px;
}

.card {
    width: 400px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
}

.stats {
    background: #f2f5f8 !important;
    color: #000 !important;
}

.hours {
    font-size: 10px;
    color: #a1aab9;
}

.number1 {
    font-weight: 500;
}

.rate {
    font-size: 10px;
    color: #a1aab9;
}

.number2 {
    font-weight: 500;
}

.salary {
    font-size: 10px;
    color: #a1aab9;
}

.number3 {
    font-weight: 500;
}
